@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
  --primary-text-color: #232024;
  --accent-color: #b33953;
  --sub-accent-color: #017b63;
  --dark-charcoal: #101820;
  --white: #FFFFFF;
  --background-color: #008877;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  line-height: 1.8; /* High line-height for airy feel */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800; /* ExtraBold */
  color: var(--dark-charcoal);
  line-height: 1.3;
}